streamlit>=1.40.1 
google-cloud-storage>=2.18.2,<3.0
faiss-cpu==1.9.0.post1
numpy>=1.23.5,<2.0
protobuf>=4.23.4,<5.0
google-api-python-client>=2.99.0
google-auth>=2.36.0,<3.0
google-auth-oauthlib>=1.0.0,<2.0
python-dotenv>=1.0.0
google-cloud-aiplatform[all]>=1.30.0,<2.0
vertexai>=0.31.0
langchain>=0.0.228
langchain-community>=0.0.5
tiktoken>=0.4.0
transformers>=4.31.0
